<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pronia - Plant Store Bootstrap 5 Template</title>
    <meta name="robots" content="index, follow" />
    <meta name="description"
          content="Pronia plant store bootstrap 5 template is an awesome website template for any home plant shop." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="shortcut icon"
          type="image/x-icon"
          href="~/client/assets/images/favicon.ico" />

    <!-- CSS
    ============================================ -->
    @RenderSection("custom_plugin_styles", false)


    <link rel="stylesheet" href="~/client/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/client/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/client/assets/css/Pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/client/assets/css/animate.min.css" />
    <link rel="stylesheet" href="~/client/assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/client/assets/css/nice-select.css" />
    <link rel="stylesheet" href="~/client/assets/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="~/client/assets/css/ion.rangeSlider.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Style CSS -->

    @RenderSection("custom_styles", false)
    <link href="~/admin/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/client/assets/css/style.css" />

</head>

<body>
    <div class="preloader-activate preloader-active open_tm_preloader">
        <div class="preloader-area-wrap">
            <div class="spinner d-flex justify-content-center align-items-center h-100">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <partial name="Partials/Client/_NavbarPartialView" />

        @RenderBody()

        

        <!-- Begin Scroll To Top -->
        <a class="scroll-to-top" href="">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- Scroll To Top End Here -->
        <div class="modal quick-view-modal fade"
                                            id="quickModal"
                                            data-bs-backdrop="static"
                                            data-bs-keyboard="false"
                                            tabindex="-1"
                                            aria-labelledby="quickModal"
                                            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                                data-tippy="Close"
                                data-tippy-inertia="true"
                                data-tippy-animation="shift-away"
                                data-tippy-delay="50"
                                data-tippy-arrow="true"
                                data-tippy-theme="sharpborder"></button>
                    </div>
                    <div class="modal-body">


                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Order View Modal Start -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Orders View</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body-order cateBody">

                </div>
            </div>
        </div>
    </div>
    <!-- Order View Modal End -->






    <!-- Global Vendor, plugins JS -->
    <!-- JS Files
    ============================================ -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    @RenderSection("custom_plugin_scripts", false)

    <script src="~/client/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/client/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/client/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/client/assets/js/vendor/jquery.waypoints.js"></script>
    <script src="~/client/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="~/client/assets/js/plugins/wow.min.js"></script>
    <script src="~/client/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/client/assets/js/plugins/jquery.nice-select.js"></script>
    <script src="~/client/assets/js/plugins/parallax.min.js"></script>
    <script src="~/client/assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="~/client/assets/js/plugins/tippy.min.js"></script>
    <script src="~/client/assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="~/client/assets/js/plugins/mailchimp-ajax.js"></script>
    <script src="~/client/assets/js/plugins/jquery.counterup.js"></script>

    
    
    @RenderSection("custom_scripts", false)
    <script asp-append-version="true" src="~/client/assets/js/ModalJs.js"></script>

    <script asp-append-version="true" src="~/client/assets/js/UserNotification.js"></script>


    <!--Main JS (Common Activation Codes)-->
    <script src="~/client/assets/js/main.js"></script>

</body>
</html>
